body,.todoo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intodo{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 10px;
}
.tolist{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;   
    align-items: center;
}

input{
    padding: 10px;
    font-size: 15px;
}
.del{
    padding:15px 30px 15px 30px;
    font-size: 15px;
    background-color: red;
    border: none;
}
.c{
    font-weight: bold;
}
.add{
    background-color: rgb(98, 228, 98);
    border: none;
    font-size: 20px;
    color: white;
}
